姓名： 王佳陆
学号： P221014700
班级： 22级广告学2班

In [32]:
import mytools
import pandas as pd

In [33]:
#读取数据表
数据表= mytools.读取SPSS数据文件(R'data\demo.sav')

In [34]:
数据表.columns

Index(['序号', '@1、您的性别：', '@2、您的年龄：', '@3、您的婚姻状况：', '@4、您的受教育程度是：',
       '@5、您的政治面貌：', '@7、您的信仰是：', '@8、您的职业是：', '@9、您的月收入大约是多少？', '@10、1您家里有',
       '@10、2口人，是', '@10、3代人，家里有', '@10、4位老人，家里有', '@10、5个小孩，外出打工的人有___人。',
       '@11、您平常是否通过电脑上网？', '@12、您平常是否通过手机上网？', '@13、您平时一周有几天通过电脑上网？',
       '@14、您平时一周有几天通过手机上网？', '@15、1您每天通过手机上网的时间大概为', '@15、2分钟，您每天通过电脑上网的时间为',
       '@15、3分钟，您每个月的手机话费为', '@15、4元，您家的宽带费为___元。',
       '@16、互联网使用行为（问卷17题至26题）—17、您', '@16、18、您认为您在上网时使用搜索引擎（百度',
       '@16、19、您经常会通过互联网（辣椒直播、下厨', '@16、20、您认为您玩手机网络游戏（斗地主、斗',
       '@16、21、您经常会通过互联网观看小说么？', '@16、22、您经常会通过互联网观看视频（快手、',
       '@16、23、您认为您通过即时通讯（微信、QQ）与他', '@16、24、您经常会通过社交网络（微博、陌陌、',
       '@16、25、您认为您在互联网（淘宝、拼多多、京', '@16、26、您经常使用移动支付（支付宝、微信支', 'Q17_1',
       'Q17_2', 'Q17_3', 'Q17_4', 'Q17_5', '@18、请表述您最近一周的情感状况—6.爱', '@18、7.愉悦',
       '@18、8.自豪', '@18、9.愤怒', '@18、10.忧虑', '@18、11.悲哀',
       '@19、第三部分—1.我能够获得足够有用的媒介信', '@19、2.我能够不断更新自己的信息获取技能。',
       '@19、3.我具有较强的信息获取意识。', '@19、4.我能够熟练使用软件工具进行信息检索。',
       '@19、5.我能够通过寻找佐证资料判断信息的可信', '@19、6.能够通过标题、内容等判断信息的可信度',
       '@19、7.我能够判断当前信息是在陈述事实还是表', '@19、8.我能够评估媒介信息内容对他人或社会可',
       '@19、9.我能够通过信息发布机构的权威性判断信', '@19、10.我通过网络微信微博QQ等分享社会时事新',
       '@19、11.我通过网络微信微博QQ等参与投票、网络', '@19、12.我通过网络参与社会公共事件讨论。',
       '@19、13.我通过网络微信微博QQ等参与社会实践。', '@19、14.我通过网络微信微博QQ等与他人交流沟通',
       '@19、15.我通过网络微信微博QQ等分享个人动态信', '@19、16.我通过网络微信微博QQ等表达个人观点发',
       '@19、17.我通过网络网络微信微博QQ等与他人协作', '@19、18.我能够对音视频素材进行转换格式、压缩',
       '@19、19.我能够对图像素材进行格式转换、压缩与', '@19、20.我能够对多媒体素材进行合成与发布。', 'Q20_1',
       'Q20_2', 'Q20_3', 'Q20_4', 'Q20_5', 'Q21_1', 'Q21_2', 'Q21_3', 'Q21_4',
       'Q21_5', 'Q21_6', 'Q21_7', 'Q21_8', 'Q21_9', 'Q21_10',
       '@25、调研日期（根据调研日期填写3、4、5或其他', '@27、调研地点', '@28、问卷编号',
       '@30、问卷录入过程中其他需要说明的问题（若没', '年龄段', '每周上网时长', '生活满意度', '生活满意度区间', '工作满意度',
       '工作满意度区间', 'Q21_3_T', 'Q21_5_T', 'Q21_9_T', 'Q21_10_T', '自尊'],
      dtype='object')

# 明确数据分析目标

1. 了解本地区居民的媒介素养
2. 居民收入（职业、年龄）与媒介素养的相关性
3. xx与xxx的相关性
4. ……
5. 多变量交互分类表或多元回归分析

In [35]:
import mytools
from pyreadstat import pyreadstat

In [36]:
#职业与信息获取技能的相关性
tau_y = mytools.goodmanKruska_tau_y(数据表,'@8、您的职业是：','@19、2.我能够不断更新自己的信息获取技能。')
tau_y

0.12450606210489289

In [37]:
mytools.相关系数判断(tau_y)

'极弱相关或无相关'

In [53]:
mytools.制作交叉表(数据表,'@8、您的职业是：','@19、2.我能够不断更新自己的信息获取技能。')

@19、2.我能够不断更新自己的信息获取技能。  1.0       2.0       3.0       4.0       5.0       All
@8、您的职业是：
农民                       0.0  0.096774  0.000000  0.100000  0.000000  0.063830
牧民                       1.0  0.709677  0.666667  0.466667  0.333333  0.617021
个体户                      0.0  0.000000  0.148148  0.066667  0.333333  0.074468
学生                       0.0  0.064516  0.000000  0.066667  0.000000  0.042553
村干部                      0.0  0.032258  0.000000  0.066667  0.000000  0.031915
乡镇干部                     0.0  0.032258  0.000000  0.000000  0.000000  0.010638
企业工人                     0.0  0.000000  0.000000  0.033333  0.000000  0.010638
外出务工人员                   0.0  0.032258  0.185185  0.066667  0.333333  0.095745
其它                       0.0  0.032258  0.000000  0.133333  0.000000  0.053191

In [51]:
tau_y = mytools.goodmanKruska_tau_y(数据表,'@9、您的月收入大约是多少？','@19、20.我能够对多媒体素材进行合成与发布。')
tau_y

0.018297785421073045

In [52]:
mytools.相关系数判断(tau_y)

'极弱相关或无相关'

In [54]:
mytools.制作交叉表(数据表,'@9、您的月收入大约是多少？','@19、20.我能够对多媒体素材进行合成与发布。')

@19、20.我能够对多媒体素材进行合成与发布。       1.0       2.0   3.0  4.0       All
@9、您的月收入大约是多少？
无收入                       0.068966  0.071429  0.25  0.0  0.074468
三千元以下                     0.344828  0.500000  0.50  0.4  0.446809
三千到六千元                    0.586207  0.428571  0.25  0.6  0.478723

# 数据清理与转换

## 数据清理
1. 空白值
2. 异常值
3. 重复值
4. 类型设定
5. 逻辑不一致的值

## 数据转换
1. 值的替换
2. 变量改名
3. 变量生成

In [55]:
#查找空白值
数据表.isnull()

,序号,@1、您的性别：,@2、您的年龄：,@3、您的婚姻状况：,@4、您的受教育程度是：,@5、您的政治面貌：,@7、您的信仰是：,@8、您的职业是：,@9、您的月收入大约是多少？,家庭规模,...,生活满意度,生活满意度区间,工作满意度,工作满意度区间,Q21_3_T,Q21_5_T,Q21_9_T,Q21_10_T,自尊,信息判断能力
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
92,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
93,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [56]:
#填充空白值
数据表['@7、您的信仰是：'].fillna('无', inplace=True)

In [57]:
#删除所有列都是空值的行
数据表.dropna(how='any',inplace=True)
数据表

,序号,@1、您的性别：,@2、您的年龄：,@3、您的婚姻状况：,@4、您的受教育程度是：,@5、您的政治面貌：,@7、您的信仰是：,@8、您的职业是：,@9、您的月收入大约是多少？,家庭规模,...,生活满意度,生活满意度区间,工作满意度,工作满意度区间,Q21_3_T,Q21_5_T,Q21_9_T,Q21_10_T,自尊,信息判断能力
4,76.0,1.0,31.0,已婚,小学,群众,佛教,牧民,三千元以下,7.0,...,25.0,基本满意,25.0,基本满意,3.0,3.0,3.0,3.0,29.0,14.0
5,90.0,1.0,17.0,未婚,初中,群众,佛教,牧民,三千元以下,9.0,...,19.0,基本不满意,21.0,基本满意,3.0,3.0,3.0,3.0,29.0,16.0
7,68.0,1.0,12.0,未婚,小学,群众,佛教,学生,无收入,7.0,...,20.0,中等,20.0,中等,3.0,3.0,3.0,3.0,30.0,10.0
8,73.0,1.0,12.0,未婚,小学,群众,佛教,学生,无收入,8.0,...,30.0,满意,-10.0,极不满意,3.0,3.0,3.0,3.0,30.0,10.0
9,19.0,1.0,18.0,未婚,初中,群众,佛教,其它,无收入,7.0,...,17.0,基本不满意,-10.0,极不满意,4.0,2.0,2.0,2.0,26.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,43.0,1.0,36.0,已婚,小学,中共党员,无,牧民,三千到六千元,5.0,...,28.0,满意,25.0,基本满意,3.0,3.0,3.0,3.0,30.0,16.0
90,50.0,1.0,59.0,已婚,初中,群众,佛教,村干部,三千到六千元,6.0,...,30.0,满意,32.0,非常满意,4.0,3.0,4.0,4.0,35.0,18.0
91,53.0,1.0,49.0,已婚,小学,中共党员,无,牧民,三千到六千元,10.0,...,30.0,满意,31.0,非常满意,3.0,2.0,4.0,4.0,32.0,12.0
92,55.0,1.0,19.0,已婚,小学,群众,佛教,牧民,三千到六千元,4.0,...,28.0,满意,23.0,基本满意,2.0,2.0,3.0,3.0,29.0,20.0
93,58.0,1.0,50.0,已婚,大学,群众,佛教,农民,三千到六千元,6.0,...,26.0,满意,26.0,满意,4.0,3.0,4.0,4.0,37.0,21.0

In [58]:
数据表['@10、2口人，是'].value_counts()

@10、2口人，是
3    51
2    16
4     5
1     2
5     1
3     1
Name: count, dtype: int64

In [61]:
#查找重复值
数据表.duplicated(subset=['序号'],keep="last")

4     False
5     False
7     False
8     False
9     False
      ...
89    False
90    False
91    False
92    False
93    False
Length: 76, dtype: bool

In [62]:
# 删除重复值
数据表.drop_duplicates(subset=['序号'],keep='first',inplace=True)

In [63]:
#异常值
import pandas as pd

# 示例数据
data = {'value': [10, 12, 12, 13, 12, 11, 10, 29, 30, 11, 10, 100]}
df = pd.DataFrame(data)

# 计算均值和标准差
mean = df['value'].mean()
std = df['value'].std()
condition1 = (df['value'] < mean - 3 * std) | (df['value'] > mean + 3 * std)
# 识别异常值
outliers1 = df[condition1]
print('使用标准差判断的异常值为：',outliers1)

# 计算 IQR
Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

# 识别异常值
outliers2 = df[(df['value'] < Q1 - 1.5 * IQR) | (df['value'] > Q3 + 1.5 * IQR)]
print('使用IQR判断的异常值为',outliers2)

使用标准差判断的异常值为：     value
11    100
使用IQR判断的异常值为     value
7      29
8      30
11    100

In [39]:
#变量改名
数据表.rename(columns={
    '@2、您的年龄:': '年龄',
    '@3、您的婚姻状况:':'婚姻状况',
    '@9、您的月收入大约是多少?':'月收入',
    '@10、2口人,是':'代际',
    '@10、1您家里有':'家庭规模',
    '@4、您的受教育程度是:':'受教育程度',
},inplace=True)

In [40]:
#数据表['家庭规模'].mean()
数据表['家庭规模'].mean()

6.662921348314606

In [41]:
数据表['@10、2口人，是'].replace({'(空)':None}, inplace=True)
数据表['@10、2口人，是'].value_counts()

@10、2口人，是
3    59
2    18
4     8
1     2
5     1
Name: count, dtype: int64

In [42]:
数据表['@2、您的年龄：'].fillna(43, inplace=True)
数据表['@3、您的婚姻状况：'].fillna('已婚', inplace=True)
数据表['@9、您的月收入大约是多少？'].fillna('三千元以下', inplace=True)
数据表['家庭规模'].fillna(6, inplace=True)
数据表['@10、2口人，是'].fillna(3, inplace=True)

In [43]:
数据表['@2、您的年龄：'] = pd.to_numeric(数据表['@2、您的年龄：'], errors='coerce')

In [44]:
# 计算均值和标准差
mean = 数据表['@2、您的年龄：'].mean()
std = 数据表['@2、您的年龄：'].std()
condition1 = (数据表['@2、您的年龄：'] < mean - 3 * std) | (数据表['@2、您的年龄：'] > mean + 3 * std)
# 识别异常值
outliers1 = 数据表[condition1]
print('使用标准差判断的异常值为：',outliers1)

使用标准差判断的异常值为： Empty DataFrame
Columns: [序号, @1、您的性别：, @2、您的年龄：, @3、您的婚姻状况：, @4、您的受教育程度是：, @5、您的政治面貌：, @7、您的信仰是：, @8、您的职业是：, @9、您的月收入大约是多少？, 家庭规模, @10、2口人，是, @10、3代人，家里有, @10、4位老人，家里有, @10、5个小孩，外出打工的人有___人。, @11、您平常是否通过电脑上网？, @12、您平常是否通过手机上网？, @13、您平时一周有几天通过电脑上网？, @14、您平时一周有几天通过手机上网？, @15、1您每天通过手机上网的时间大概为, @15、2分钟，您每天通过电脑上网的时间为, @15、3分钟，您每个月的手机话费为, @15、4元，您家的宽带费为___元。, @16、互联网使用行为（问卷17题至26题）—17、您, @16、18、您认为您在上网时使用搜索引擎（百度, @16、19、您经常会通过互联网（辣椒直播、下厨, @16、20、您认为您玩手机网络游戏（斗地主、斗, @16、21、您经常会通过互联网观看小说么？, @16、22、您经常会通过互联网观看视频（快手、, @16、23、您认为您通过即时通讯（微信、QQ）与他, @16、24、您经常会通过社交网络（微博、陌陌、, @16、25、您认为您在互联网（淘宝、拼多多、京, @16、26、您经常使用移动支付（支付宝、微信支, Q17_1, Q17_2, Q17_3, Q17_4, Q17_5, @18、请表述您最近一周的情感状况—6.爱, @18、7.愉悦, @18、8.自豪, @18、9.愤怒, @18、10.忧虑, @18、11.悲哀, @19、第三部分—1.我能够获得足够有用的媒介信, @19、2.我能够不断更新自己的信息获取技能。, @19、3.我具有较强的信息获取意识。, @19、4.我能够熟练使用软件工具进行信息检索。, @19、5.我能够通过寻找佐证资料判断信息的可信, @19、6.能够通过标题、内容等判断信息的可信度, @19、7.我能够判断当前信息是在陈述事实还是表, @19、8.我能够评估媒介信息内容对他人或社会可, @19、9.我能够通过信息发布机构的权威性判断信, @19、10.我通过网络微信微博QQ等分享社会时事新, @19、11.我通过网络微信微博QQ等参与投票、网络, @19、12.我通过网络参与社会公共事件讨论。, @19、13.我通过网络微信微博QQ等参与社会实践。, @19、14.我通过网络微信微博QQ等与他人交流沟通, @19、15.我通过网络微信微博QQ等分享个人动态信, @19、16.我通过网络微信微博QQ等表达个人观点发, @19、17.我通过网络网络微信微博QQ等与他人协作, @19、18.我能够对音视频素材进行转换格式、压缩, @19、19.我能够对图像素材进行格式转换、压缩与, @19、20.我能够对多媒体素材进行合成与发布。, Q20_1, Q20_2, Q20_3, Q20_4, Q20_5, Q21_1, Q21_2, Q21_3, Q21_4, Q21_5, Q21_6, Q21_7, Q21_8, Q21_9, Q21_10, @25、调研日期（根据调研日期填写3、4、5或其他, @27、调研地点, @28、问卷编号, @30、问卷录入过程中其他需要说明的问题（若没, 年龄段, 每周上网时长, 生活满意度, 生活满意度区间, 工作满意度, 工作满意度区间, Q21_3_T, Q21_5_T, Q21_9_T, Q21_10_T, 自尊]
Index: []

[0 rows x 93 columns]

In [45]:
数据表['@10、2口人，是'].dtypes

dtype('O')

In [46]:
数据表.astype({"@10、2口人，是": "int"}).dtypes

序号               float64
@1、您的性别：         float64
@2、您的年龄：         float64
@3、您的婚姻状况：      category
@4、您的受教育程度是：    category
                  ...
Q21_3_T          float64
Q21_5_T          float64
Q21_9_T          float64
Q21_10_T         float64
自尊               float64
Length: 93, dtype: object

In [47]:
数据表['@10、2口人，是'].map({1:1,2:2,3:3,4:4,5:5})

0     3.0
1     3.0
2     3.0
3     3.0
4     NaN
     ...
89    NaN
90    NaN
91    NaN
92    NaN
93    NaN
Name: @10、2口人，是, Length: 94, dtype: float64

In [48]:
# 变量类型设置
数据表['@2、您的年龄：'].dtypes
数据表.astype({'@2、您的年龄：':"int"}).dtypes

序号               float64
@1、您的性别：         float64
@2、您的年龄：           int32
@3、您的婚姻状况：      category
@4、您的受教育程度是：    category
                  ...
Q21_3_T          float64
Q21_5_T          float64
Q21_9_T          float64
Q21_10_T         float64
自尊               float64
Length: 93, dtype: object

In [49]:
# 生成新的变量
数据表['信息判断能力'] = 数据表['@19、5.我能够通过寻找佐证资料判断信息的可信']+数据表['@19、6.能够通过标题、内容等判断信息的可信度']+数据表['@19、7.我能够判断当前信息是在陈述事实还是表']+数据表['@19、8.我能够评估媒介信息内容对他人或社会可']+数据表['@19、9.我能够通过信息发布机构的权威性判断信']

In [50]:
import pandas as pd
from tabulate import tabulate

# 创建一个示例 DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# 使用 tabulate 打印 DataFrame
print(tabulate(df, headers='keys', tablefmt='psql'))

+----+---------+-------+-------------+
|    | Name    |   Age | City        |
|----+---------+-------+-------------|
|  0 | Alice   |    25 | New York    |
|  1 | Bob     |    30 | Los Angeles |
|  2 | Charlie |    35 | Chicago     |
+----+---------+-------+-------------+