In [7]:
import pandas as pd
import numpy as np

In [8]:
data0 = [1,3,5,7,9]
arr0 = np.array(data0)

In [2]:
s = pd.Series(data=[100,'a',{'dicl':5}],
              index=pd.Index(['id1',20,'third'],name='my_idx'),
              dtype='object',
              name='my_name')

In [3]:
s2 = pd.Series(["1","2","3","4"])

In [4]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [5]:
type(s2.values[0])

str

In [6]:
s2.size

4

In [19]:
d2 = {"作者": pd.Series(['余华','路遥','史铁生']),
     "作品": pd.Series(['活着','平凡的世界','秋天的怀念']),
     "价格": pd.Series(['35.0','67.8','45.6']),
}
df2 = pd.DataFrame(d1)

In [20]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [21]:
df2.shape

(3, 3)

In [22]:
df2.size

9

In [24]:
df2[['作者','作品','价格']]

    作者     作品    价格
0   余华     活着  35.0
1   路遥  平凡的世界  67.8
2  史铁生  秋天的怀念  45.6